body{
    background-color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
}

a:link{
    color: orangered;
}

a:visited{
    color:#292726;
}

